.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 16px;
}

.time {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  color: var(--md-sys-color-primary);
}

.date {
  font-size: var(--md-sys-typescale-body-medium-font);
  color: var(--md-sys-color-secondary);
  margin-top: 8px;
  text-transform: capitalize;
}
